@font-face {
    font-family: 'Geist';
    src: url('./assets/Geist-VariableFont_wght.woff2') format('woff2-variations');
    src: url('./assets/Geist-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gantari';
    src: url('./assets/Gantari-VariableFont_wght.woff2') format('woff2-variations');
    src: url('./assets/Gantari-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Geist', sans-serif;
    caret-color: transparent;
}

button,
a {
    text-decoration: none;
    cursor: pointer;
    transition: all 160ms cubic-bezier(0.33, 1, 0.68, 1);
}

button {
    stroke: none;
    border: none;
}

input {
    border: none;
    transition: all 160ms cubic-bezier(0.33, 1, 0.68, 1);
    outline: none;
    caret-color: #1C1C1C;
}

body {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

body {
    background-color: #FAF5ED;
}

p {
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: 'Gantari', sans-serif;
    text-transform: uppercase;
    line-height: 1.1;
}

/* =========================================
  FLEX
========================================= */

.f-col {
    display: flex;
    flex-direction: column;
}

.f-row {
    display: flex;
}

.j-s-b {
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 1281px) {
    .g18 {
        gap: 18px;
    }
}

/* =========================================
  BUTTON
========================================= */

.button {
    padding: 0 13px;
    height: 36px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7px;
    font-size: 15px;
    font-family: 'Gantari', sans-serif;
    color: #EDEDED;
    background-color: #B85C2E;
    gap: 10px;
}

.button p {
    font-size: 15px;
    font-family: 'Gantari', sans-serif;
    color: #EDEDED;
    text-transform: uppercase;
}

.button:hover p {
    color: white;
}

.button:hover {
    background-color: #D96930;
    color: white;
}

.button:active {
    scale: .95;
}

.button svg {
    fill: #EDEDED;
}

.button:hover svg {
    fill: white;
}

/* =========================================
  TYPOGRAPHY
========================================= */

h2 {
    font-size: 28px;
    color: #0D0D0D;
}


/* =========================================
  SPAN
========================================= */

.show-mobile {
    display: none;
}

/* =========================================
  FAQ
========================================= */

.faq-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 300px 1fr;
}

.faq-categories-wrap {
    gap: 16px;
}

.faq-categories-wrap h4{
    font-size: 14px;
    color: #333333;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.faq-caterogy {
    background-color: transparent;
    font-size: 15px;
    gap: 10px;
    color: #666666;
    display: grid;
    grid-template-columns: 21px 1fr;
    height: 21px;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: auto;
}

.faq-caterogy svg {
    align-self: center;
    justify-self: center;
}

.faq-caterogy path {
    fill: #666666;
    transition: all 160ms cubic-bezier(0.33, 1, 0.68, 1);
}

.faq-caterogy:hover {
    color: #1C1C1C;
}

.faq-caterogy:hover path {
    fill: #1C1C1C;
}

.faq-caterogy.active {
    color: #D96930;
}

.faq-caterogy.active path {
    fill: #D96930;
}

.faq-wrap {
    gap: 12px;
}

.faq {
    border: 1px solid hsl(0, 0%, 0%, .15);
    border-radius: 12px;
    box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0%);
    transition: all 200ms cubic-bezier(0.33, 1, 0.68, 1);
    padding: 20px 24px;
    cursor: pointer;
}

.faq h3 {
    font-size: 18px;
    text-transform: none;
}

.faq-answer-wrap {
    overflow: hidden;
    height: 0px;
}

.faq-answer-wrap p {
    padding-top: 6px;
    margin-bottom: -3px;
    color: #333333;
    font-size: 14px;
}

.faq.active {
    border: 1px solid #D96930;
    box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 14%);
}

.faq.active h3 {
    color: #D96930;
}

.faq svg {
    transition: all 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.faq path {
    transition: all 200ms cubic-bezier(0.33, 1, 0.68, 1);
    fill: #1C1C1C;
}

.faq.active svg {
    transform: rotate(45deg);
}

.faq.active path {
    fill: #D96930;
}

/* =========================================
  EMAIL CTA
========================================= */

.email-cta-wrap {
    margin: 60px 0;
}

.email-cta {
    padding: 64px;
    border-radius: 28px;
    background-image: url(./assets/email-sign-up-horizontal.webp);
    aspect-ratio: 13 / 4.5;
    background-size: cover;
    justify-content: center;
    background-position: center;
    gap: 10px;
}

.email-cta h2 {
    font-size: 31px;
    color: #F2F2F2;

}

.email-cta-subheading {
    font-size: 15px;
    color: #D9D9D9;
    max-width: 28rem;
    line-height: 1.5;
    margin-bottom: 12px;
}

.email-cta-form {
    gap: 6px;
    align-items: center;
    width: 29rem;
}

.email-cta-input {
    flex: 1;
    height: 38px;
    border-radius: 7px;
    background-color: #D9D9D9;
    padding: 12px;
    font-size: 14px;
    color: #1C1C1C;
}

.email-cta-input::placeholder {
    color: #8C8C8C;
}

.email-cta-input:focus,
.email-cta-input:hover {
    background-color: #F2F2F2;
}

.email-cta button {
    overflow: hidden;
}

.email-cta button p {
    transition: all 240ms cubic-bezier(0.33, 1, 0.68, 1);
}

.email-cta button svg {
    transition: all 240ms cubic-bezier(0.33, 1, 0.68, 1);
}

.email-cta .button:hover p {
    transform: translateX(130%);
}

.email-cta .button:hover svg {
    transform: translateX(165%) scale(110%) rotate(45deg);
}

.email-cta .button:hover .cta-button-svg-wrap {
    animation: flying 1.5s linear infinite;
}

@keyframes flying {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(3px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* =========================================
  CONTAINER
========================================= */

.container {
    padding-left: calc((100svw - 1350px) / 2);
    padding-right: calc((100svw - 1350px) / 2);
}

section {
    padding-bottom: 120px;
    padding-top: 120px;
    gap: 52px;
}

.cent-head h2{
    text-align: center;
}

/* =========================================
  FOOTER
========================================= */

footer {
    background-color: #1C1C1C;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 52px;
    padding-bottom: 32px;
    row-gap: 80px;
}

.footer-column-wrap {
    gap: 120px;
}

/* =========================================
  FOOTER TOP BLOCK
========================================= */

.footer-first-block p {
    font-size: 14px;
    line-height: 1.7;
    margin: -6px 0;
    max-width: 21.5rem;
    color: #808080;
}

.footer-first-block {
    flex: 1;
}

/* =========================================
  FOOTER LINKS
========================================= */

footer ul {
    list-style-type: none;
    gap: 10px;
}

.footer-heading {
    font-family: 'Gantari', sans-serif;
    font-size: 18px;
    color: #F2F2F2;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.footer-link {
    font-size: 14px;
    color: #808080;
}

.footer-link:hover {
    color: #F2F2F2;
}

/* =========================================
  FOOTER SOCIALS
========================================= */

.social-link {
    display: grid;
    gap: 8px;
    grid-template-columns: 14px 1fr;
    cursor: pointer;
}

.social-link svg path {
    fill: #CCCCCC;
    align-self: center;
    transition: all 160ms cubic-bezier(0.33, 1, 0.68, 1);
    justify-self: center;
}

.social-link svg {
    align-self: center;
    justify-self: center;
}

.social-link:hover path {
    fill: white;
}


.social-link:hover a {
    color: #F2F2F2;
}

/* =========================================
  FOOTER BOTTOM BLOCK
========================================= */

.footer-bottom-block {
    width: 100%;
}

.footer-bottom-block {
    gap: 32px;
}

.footer-bottom-block a,
.footer-bottom-block p {
    font-size: 13px;
    color: #4D4D4D;
}

.footer-bottom-block p {
    margin-right: auto;
}

.footer-bottom-block a:hover {
    color: #D9D9D9;
}










@media (max-width: 1450px) and (min-width: 1281px) {
    /* =========================================
        CONTAINER
    ========================================= */

    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* =========================================
        FOOTER
    ========================================= */

    footer {
        row-gap: 70px;
    }

    .footer-column-wrap {
        gap: 80px;
    }

}











@media (max-width: 1280px) and (min-width: 1023px) {
    

    /* =========================================
        FAQ
    ========================================= */

    .faq-grid {
        grid-template-columns: 200px 1fr;
    }

    .faq-categories-wrap {
        gap: 14px;
    }

    .faq-categories-wrap h4{
        font-size: 13px;
        margin-bottom: 8px;
    }

    .faq-caterogy {
        font-size: 14px;
        gap: 8px;
    }

    .faq-wrap {
        gap: 10px;
    }

    .faq {
        padding: 16px 18px;
    }

    .faq h3 {
        font-size: 16px;
    }

    .faq-answer-wrap p {
        padding-top: 8px;
        font-size: 13px;
    }

    .faq svg {
        height: 11px;
    }

    /* =========================================
        BUTTON
    ========================================= */

    .button {
        padding: 0 12px;
        height: 34px;
        font-size: 14px;
    }

    .button p {
        font-size: 14px;
    }

    /* =========================================
        EMAIL CTA
    ========================================= */

    .email-cta-wrap {
        margin: 54px 0;
    }

    .email-cta {
        padding: 52px;
        border-radius: 24px;
        aspect-ratio: 13 / 5;
        gap: 8px;
    }

    .email-cta h2 {
        font-size: 27px;
    }

    .email-cta-subheading {
        font-size: 13px;
        max-width: 28rem;
        margin-bottom: 10px;
    }

    .email-cta-form {
        gap: 6px;
        width: 26rem;
    }

    .email-cta-input {
        height: 36px;
        padding: 10px;
        font-size: 13px;
    }


    /* =========================================
        CONTAINER
    ========================================= */

    .container {
        padding-left: 6%;
        padding-right: 6%;
    }

    


    /* =========================================
        FOOTER
    ========================================= */

    footer {
        padding-top: 52px;
        padding-bottom: 32px;
        row-gap: 60px;
    }

    .footer-column-wrap {
        gap: 60px;
    }

    /* =========================================
        FOOTER TOP BLOCK
    ========================================= */

    .footer-first-block p {
        font-size: 12px;
        margin: -3px 0;
        max-width: 18.5rem;
    }

    .footer-first-block {
        gap: 13px;
    }

    /* =========================================
        FOOTER LINKS
    ========================================= */

    footer ul {
        gap: 10px;
    }

    .footer-heading {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .footer-link {
        font-size: 12px;
    }


    /* =========================================
        FOOTER SOCIALS
    ========================================= */

    .social-link {
        display: grid;
        gap: 8px;
        grid-template-columns: 12px 1fr;
        cursor: pointer;
    }

    .instagram-icon {
        width: auto;
        height: 12.5px;
    }

    .tik-tok-icon {
        height: auto;
        width: 12.7px;
    }

    .youtube-icon {
        height: auto;
        width: 12px;
    }

    /* =========================================
        FOOTER BOTTOM BLOCK
    ========================================= */

    .footer-bottom-block {
        width: 100%;
    }

    .footer-bottom-block {
        gap: 20px;
    }

    .footer-bottom-block a,
    .footer-bottom-block p {
        font-size: 12px;
    }


}











@media (max-width: 1022px) and (min-width: 768px) {
    /* =========================================
        TYPOGRAPHY
    ========================================= */

    h2 {
        font-size: 24px;
        color: #0D0D0D;
    }

    /* =========================================
        FAQ
    ========================================= */

    .faq-grid {
        grid-template-columns: 180px 1fr;
    }

    .faq-categories-wrap {
        gap: 14px;
    }

    .faq-categories-wrap h4{
        font-size: 13px;
        margin-bottom: 8px;
    }

    .faq-caterogy {
        font-size: 14px;
        gap: 8px;
    }

    .faq-wrap {
        gap: 10px;
    }

    .faq {
        padding: 16px 18px;
    }

    .faq h3 {
        font-size: 16px;
    }

    .faq-answer-wrap p {
        padding-top: 8px;
        font-size: 13px;
    }

    .faq svg {
        height: 11px;
    }


    /* =========================================
        BUTTON
    ========================================= */

    .button {
        padding: 0 13px;
        height: 34px;
        font-size: 14px;
    }

    .button p {
        font-size: 14px;
    }

    /* =========================================
        EMAIL CTA
    ========================================= */

    .email-cta-wrap {
        margin: 48px 0;
    }

    .email-cta {
        padding: 52px;
        border-radius: 24px;
        background-image: url(./assets/email-sign-up-vertical.webp);
        aspect-ratio: 1.4 / 1;
        background-size: cover;
        justify-content: top;
        background-position: center;
        gap: 8px;
        align-items: center;
        justify-content: start;
    }

    .email-cta h2 {
        font-size: 29px;
        text-align: center;
    }

    .email-cta-subheading {
        font-size: 14px;
        text-align: center;
        max-width: 26rem;
        margin-bottom: 12px;
    }

    .email-cta-form {
        gap: 6px;
        width: 26rem;
    }

    .email-cta-input {
        height: 34px;
        padding: 10px;
        font-size: 13px;
    }

    /* =========================================
        CONTAINER
    ========================================= */

    .container {
        padding-left: 4%;
        padding-right: 4%;
    }

    section {
        padding-bottom: 90px;
        padding-top: 90px;
        gap: 40px;
    }

    /* =========================================
        FOOTER
    ========================================= */

    footer {
        background-color: #1C1C1C;
        flex-direction: column !important;
        row-gap: 80px;
    }

    .footer-column-wrap {
        justify-content: space-between;
        gap: 30px;
        margin-top: -20px;
    }

    /* =========================================
        FOOTER TOP BLOCK
    ========================================= */

    .footer-first-block {
        flex: 1;
        gap: 18px;
    }

    .footer-first-block svg {
        height: 22px;
    }

    /* =========================================
        FOOTER LINKS
    ========================================= */

    footer ul {
        list-style-type: none;
        gap: 4px;
    }

    .footer-link,
    footer ul li {
        height: 22px;
        display: flex;
        align-items: center;
        height: 24px;
    }

    .footer-heading {
        font-size: 17px;
        margin-bottom: 4px;
    }

    .footer-link {
        font-size: 13px;
    }

    /* =========================================
        FOOTER SOCIALS
    ========================================= */

    /* =========================================
        FOOTER BOTTOM BLOCK
    ========================================= */

    .footer-bottom-block {
        gap: 14px;
        flex-wrap: wrap;
    }

    .footer-bottom-block a,
    .footer-bottom-block p {
        font-size: 12px;
    }

    .footer-bottom-block p {
        width: 100%;
    }

}









@media (max-width: 767px) {
    /* =========================================
        TYPOGRAPHY
    ========================================= */

    h2 {
        font-size: 24px;
    }

    /* =========================================
        FAQ
    ========================================= */

    .faq-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .faq-categories-wrap {
        gap: 16px;
    }

    .faq-categories-wrap h4{
        font-size: 13px;
        margin-bottom: 8px;
    }

    .faq-caterogy {
        font-size: 14px;
        gap: 8px;
    }

    .faq-wrap {
        gap: 10px;
    }

    .faq {
        padding: 16px 18px;
    }

    .faq h3 {
        font-size: 15px;
    }

    .faq-answer-wrap p {
        padding-top: 8px;
        font-size: 12px;
    }

    .faq svg {
        height: 11px;
    }

    /* =========================================
        BUTTON
    ========================================= */

    .button {
        padding: 0 13px;
        height: 34px;
        font-size: 14px;
    }

    .button p {
        font-size: 14px;
    }

    /* =========================================
        SPAN
    ========================================= */

    .no-show-mobile {
        display: none;
    }

    .show-mobile {
        display: block;
    }

    /* =========================================
        EMAIL CTA
    ========================================= */

    .email-cta-wrap {
        margin: 48px 0;
    }

    .email-cta {
        padding: 36px;
        background-image: url(./assets/email-sign-up-vertical.webp);
        gap: 6px;
        height: 600px;
        aspect-ratio: auto;
        align-items: center;
        justify-content: start;
    }

    .email-cta h2 {
        font-size: 28px;
        max-width: 15rem;
        text-align: center;
    }

    .email-cta-subheading {
        font-size: 14px;
        text-align: center;
        max-width: 16rem;
        margin-bottom: 12px;
    }

    .email-cta-form {
        gap: 6px;
        width: 100%;
        max-width: 40rem;
        flex-direction: column;
        align-items: stretch;
    }

    .email-cta-input {
        height: 34px;
        padding: 10px;
        font-size: 13px;
    }

    .email-cta .button:hover p {
        transform: none;
    }

    .email-cta .button:hover svg {
        transform: none;
    }

    .email-cta .button:hover .cta-button-svg-wrap {
        animation: none;
    }

    /* =========================================
        CONTAINER
    ========================================= */

    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    section {
        padding-bottom: 80px;
        padding-top: 80px;
        gap: 36px;
    }

    /* =========================================
        FOOTER
    ========================================= */

    .footer-first-block {
        flex: 1;
        gap: 18px;
    }

    .footer-first-block svg {
        height: 22px;
    }

    /* =========================================
        FOOTER
    ========================================= */

    footer {
        background-color: #1C1C1C;
        flex-direction: column !important;
        row-gap: 80px;
    }

    .footer-column-wrap {
        row-gap: 40px;
        grid-template-columns: 1fr 1fr;
        margin-top: -40px;
        flex-wrap: wrap;
        column-gap: 32px;
    }

    .footer-column-wrap ul {
        flex: 1;
        white-space: nowrap;
        min-width: 140px;
    }

    /* =========================================
        FOOTER TOP BLOCK
    ========================================= */

    .footer-first-block p {
        font-size: 14px;
    }

    /* =========================================
        FOOTER LINKS
    ========================================= */

    footer ul {
        gap: 12px;
    }

    .footer-heading {
        font-size: 15px;
    }

    .footer-link {
        font-size: 13px;
    }

    /* =========================================
        FOOTER BOTTOM BLOCK
    ========================================= */

    .footer-bottom-block {
        gap: 16px;
        flex-wrap: wrap;
    }

    .footer-bottom-block a,
    .footer-bottom-block p {
        font-size: 12px;
    }

    .footer-bottom-block p {
        width: 100%;
        line-height: 1.6;

    }

}